<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="./js/script.js"></script>

    <title>Appointment Viewer</title>
</head>
<body>
    <nav>
        <div class="toolbar">
            <div class="connection_status_div">
                <span class="material-icons md-48">monitor_heart</span>
                <span class="connection_status connected"></span>
                
                <span>Connection Status: </span>
            </div>
            <div class="button_container">
                <button id="add_button"><span class="material-icons">add</span></button>

                <button id="delete_button"><span class="material-icons">delete_outline</span></button>
                <button id="edit_button"><span class="material-icons">edit</span></button>
            </div>
        </div>
        <div class="table_header">
            <div>
                <span>ID</span>
                <span class="material-icons">sort</span>
            </div>
            <div>
                <span>Doctor Specialty</span>
                <span class="material-icons">sort</span>
            </div>
            <div>
                <span>Hospital Name</span>
                <span class="material-icons">sort</span>
            </div>
            <div>
                <span>City</span>
                <span class="material-icons">sort</span>
            </div>
            <div>
                <span>Region</span>
                <span class="material-icons">sort</span>
            </div>
            <div>
                <span>Status</span>
                <span class="material-icons">sort</span>
            </div>
            <div>
                <span>Q.Time</span>
                <span class="material-icons">sort</span>
            </div>
            <div>
                <span >Q.Date</span>
                <span class="material-icons">sort</span>
            </div>
            <div>
                <span>Start</span>
                <span class="material-icons">sort</span>
            </div>
            <div>
                <span>End</span>
                <span class="material-icons">sort</span>
            </div>
            <div>
                <span>Type</span>
                <span class="material-icons">sort</span>
            </div>
            <div>
                <span>Virtual</span>
                <span class="material-icons">sort</span>
            </div>
        </div>
    </nav>
    
    {{> page_nav}}

    <div class="table_contents">
        {{#each table}}
            {{> appointment}}
        {{/each}}
    </div>

    {{> page_nav}}

    <div class="shadow hide">
        <div class="delete_popup hide">
            <span>Deleting Entry</span>
            <div class="table_header">
                <span >ID</span>
                <span >Doctor Specialty</span>
                <span >Hospital Name</span>
                <span >City</span>
                <span >Region</span>
                <span >Status</span>
                <span >Q.Time</span>
                <span >Q.Date</span>
                <span >Start</span>
                <span >End</span>
                <span >Type</span>
                <span >Virtual</span>
            </div>
            
            <div class="popup_entry" id="delete_entry">
                <span class="AppointmentID"></span>
                <span class="DoctorMainSpecialty"></span>
                <span class="HospitalName"></span>
                <span class="HospitalCity"></span>
                <span class="HospitalRegionName"></span>
                <span class="Status"></span>
                <span class="TimeQueued"></span>
                <span class="QueueDate"></span>
                <span class="StartTime"></span>
                <span class="EndTime"></span>
                <span class="Type"></span>
                <span class="isVirtual material-icons"></span>
            </div>

            <button class="cancel">Cancel</button>
            <button id="confirm_delete">Confirm</button>
        </div>

        <div class="edit_popup hide">
            <span>Editing Entry</span>
            <div class="table_header">
                <span >ID</span>
                <span >Doctor Specialty</span>
                <span >Hospital Name</span>
                <span >City</span>
                <span >Region</span>
                <span >Status</span>
                <span >Q.Time</span>
                <span >Q.Date</span>
                <span >Start</span>
                <span >End</span>
                <span >Type</span>
                <span >Virtual</span>
            </div>
            
            <div class="popup_entry" id="edit_entry">
                <span class="AppointmentID"></span>
                <input type="text" name="DoctorMainSpecialty" id="DoctorMainSpecialty">
                <input type="text" name="HospitalName" id="HospitalName">
                <input type="text" name="HospitalCity" id="HospitalCity">
                <input type="text" name="HospitalRegionName" id="HospitalRegionName">
                
                <select name="Status" id="Status">
                    <option value="Complete">Complete</option>
                    <option value="Queued">Queued</option>
                    <option value="NoShow">NoShow</option>
                    <option value="Cancel">Cancel</option>
                    <option value="Serving">Serving</option>
                    <option value="Skip">Skip</option>
                    <option value="Admitted">Admitted</option>
                </select>

                <input type="time" name="TimeQueued" id="TimeQueued">
                <input type="date" name="QueueDate" id="QueueDate">
                <input type="time" name="StartTime" id="StartTime">
                <input type="time" name="EndTime" id="EndTime">
                <select name="Type" id="Type">
                    <option value="Consultation">Consultation</option>
                    <option value="Inpatient">Inpatient</option>
                </select>
                
                <input type="checkbox" name="isVirtual" id="isVirtual">
            </div>

            <button class="cancel">Cancel</button>
            <button id="confirm_edit">Confirm</button>
        </div>

        <div class="add_popup hide">
            <span>Adding Entry</span>
            <div class="table_header">
                <span >Doctor Specialty</span>
                <span >Hospital Name</span>
                <span >City</span>
                <span >Region</span>
                <span >Status</span>
                <span >Q.Time</span>
                <span >Q.Date</span>
                <span >Start</span>
                <span >End</span>
                <span >Type</span>
                <span >Virtual</span>
            </div>
            
            <div class="popup_entry" id="add_entry">
                <input type="text" name="DoctorMainSpecialty" id="DoctorMainSpecialty">
                <input type="text" name="HospitalName" id="HospitalName">
                <input type="text" name="HospitalCity" id="HospitalCity">
                <input type="text" name="HospitalRegionName" id="HospitalRegionName">
                
                <select name="Status" id="Status">
                    <option value="Complete">Complete</option>
                    <option value="Queued">Queued</option>
                    <option value="NoShow">NoShow</option>
                    <option value="Cancel">Cancel</option>
                    <option value="Serving">Serving</option>
                    <option value="Skip">Skip</option>
                    <option value="Admitted">Admitted</option>
                </select>

                <input type="time" name="TimeQueued" id="TimeQueued">
                <input type="date" name="QueueDate" id="QueueDate">
                <input type="time" name="StartTime" id="StartTime">
                <input type="time" name="EndTime" id="EndTime">
                <select name="Type" id="Type">
                    <option value="Consultation">Consultation</option>
                    <option value="Inpatient">Inpatient</option>
                </select>
                
                <input type="checkbox" name="isVirtual" id="isVirtual">
            </div>

            <button class="cancel">Cancel</button>
            <button id="confirm_add">Confirm</button>
        </div>
    </div>
</body>
</html>