<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="./js/script.js"></script>

    <title>Appointment Viewer</title>
</head>
<body>
    <nav>
        <div class="toolbar">
            <div class="connection_status_div">
                <span class="material-icons md-48">monitor_heart</span>
                <span class="connection_status connected"></span>
                
                <span>Connection Status: </span>
            </div>
            <div class="button_container">
                
                <button id="add_button"><span class="material-icons">add</span></button>
                <button id="delete_button"><span class="material-icons">delete_outline</span></button>
                <button id="edit_button"><span class="material-icons">edit</span></button>
                <button id="search_button"><span class="material-icons">search</span></button>
            </div>
        </div>
        <div class="table_header">
            <div>
                <span>ID</span>
            </div>
            <div>
                <span>Doctor Specialty</span>
            </div>
            <div>
                <span>Hospital Name</span>
            </div>
            <div>
                <span>City</span>
            </div>
            <div>
                <span>Region</span>
            </div>
            <div>
                <span>Status</span>
            </div>
            <div>
                <span>Q.Time</span>
            </div>
            <div>
                <span >Q.Date</span>
            </div>
            <div>
                <span>Start</span>
            </div>
            <div>
                <span>End</span>
            </div>
            <div>
                <span>Type</span>
            </div>
            <div>
                <span>Virtual</span>
            </div>
        </div>
    </nav>
    
    {{> page_nav}}

    <div class="table_contents">
        {{#each table}}
            {{> appointment}}
        {{/each}}
    </div>

    {{> page_nav}}

    <div class="shadow hide">
        <div class="delete_popup hide">
            <span>Deleting Entry</span>
            <div class="table_header">
                <span >ID</span>
                <span >Doctor Specialty</span>
                <span >Hospital Name</span>
                <span >City</span>
                <span >Region</span>
                <span >Status</span>
                <span >Q.Time</span>
                <span >Q.Date</span>
                <span >Start</span>
                <span >End</span>
                <span >Type</span>
                <span >Virtual</span>
            </div>
            
            <div class="popup_entry" id="delete_entry">
                <span class="AppointmentID"></span>
                <span class="DoctorMainSpecialty"></span>
                <span class="HospitalName"></span>
                <span class="HospitalCity"></span>
                <span class="HospitalRegionName"></span>
                <span class="Status"></span>
                <span class="TimeQueued"></span>
                <span class="QueueDate"></span>
                <span class="StartTime"></span>
                <span class="EndTime"></span>
                <span class="Type"></span>
                <span class="isVirtual material-icons"></span>
            </div>

            <button class="cancel">Cancel</button>
            <button id="confirm_delete">Confirm</button>
        </div>

        <div class="edit_popup hide">
            <span>Editing Entry</span>
            <div class="table_header">
                <span >ID</span>
                <span >Doctor Specialty</span>
                <span >Hospital Name</span>
                <span >City</span>
                <span >Region</span>
                <span >Status</span>
                <span >Q.Time</span>
                <span >Q.Date</span>
                <span >Start</span>
                <span >End</span>
                <span >Type</span>
                <span >Virtual</span>
            </div>
            
            <div class="popup_entry" id="edit_entry">
                <span class="AppointmentID"></span>
                <input type="text" name="DoctorMainSpecialty" id="DoctorMainSpecialty" required>
                <input type="text" name="HospitalName" id="HospitalName" required>
                <input type="text" name="HospitalCity" id="HospitalCity" required>
                <select name="HospitalRegionName" id="HospitalRegionName" required>
                    <optgroup label="Luzon">
                        <option value="National Capital Region (NCR)">National Capital Region (NCR)</option>
                        <option value="Cordillera Administrative Region (CAR)">Cordillera Administrative Region (CAR)</option>
                        <option value="Ilocos Region(I)">Ilocos Region(I)</option>
                        <option value="Cagayan Valley (II)">Cagayan Valley (II)</option>
                        <option value="Central Luzon (III)">Central Luzon (III)</option>
                        <option value="Calabarzon (IV-A)">Calabarzon (IV-A)</option>
                        <option value="Southwestern Tagalog Region (Mimaropa)">Southwestern Tagalog Region (Mimaropa)</option>
                        <option value="Bicol Region (V)">Bicol Region (V)</option>
                    </optgroup>
                    <optgroup label="Visayas">
                        <option value="Western Visayas (VI)">Western Visayas (VI)</option>
                        <option value="Central Visayas (VII)">Central Visayas (VII)</option>
                        <option value="Eastern Visayas (VIII)">Eastern Visayas (VIII)</option>
                    </optgroup>
                    <optgroup label="Mindanao">
                        <option value="Zamboanga Peninsula (IX)">Zamboanga Peninsula (IX)</option>
                        <option value="Northern Mindanao (X)">Northern Mindanao (X)</option>
                        <option value="Davao Region(XI)">Davao Region(XI)</option>
                        <option value="Soccsksargen (XII)">Soccsksargen (XII)</option>
                        <option value="Caraga (XIII)">Caraga (XIII)</option>
                        <option value="Bangsamoro (BARMM)">Bangsamoro (BARMM)</option>
                    </optgroup>
                </select>
                
                <select name="Status" id="Status" required>
                    <option value="Complete">Complete</option>
                    <option value="Queued">Queued</option>
                    <option value="NoShow">NoShow</option>
                    <option value="Cancel">Cancel</option>
                    <option value="Serving">Serving</option>
                    <option value="Skip">Skip</option>
                    <option value="Admitted">Admitted</option>
                </select>

                <input type="time" name="TimeQueued" id="TimeQueued" required>
                <input type="date" name="QueueDate" id="QueueDate" required>
                <input type="time" name="StartTime" id="StartTime" required>
                <input type="time" name="EndTime" id="EndTime" required>
                <select name="Type" id="Type" required>
                    <option value="Consultation">Consultation</option>
                    <option value="Inpatient">Inpatient</option>
                </select>
                
                <input type="checkbox" name="isVirtual" id="isVirtual" required>
            </div>

            <button class="cancel">Cancel</button>
            <button id="confirm_edit">Confirm</button>
        </div>

        <div class="add_popup hide">
            <span>Adding Entry</span>
            <div class="table_header">
                <span >Doctor Specialty</span>
                <span >Hospital Name</span>
                <span >City</span>
                <span >Region</span>
                <span >Status</span>
                <span >Q.Time</span>
                <span >Q.Date</span>
                <span >Start</span>
                <span >End</span>
                <span >Type</span>
                <span >Virtual</span>
            </div>
            
            <div class="popup_entry" id="add_entry">
                <input type="text" name="DoctorMainSpecialty" id="DoctorMainSpecialty" required>
                <input type="text" name="HospitalName" id="HospitalName" required>
                <input type="text" name="HospitalCity" id="HospitalCity" required>
                <select name="HospitalRegionName" id="HospitalRegionName" required>
                    <optgroup label="Luzon">
                        <option value="National Capital Region (NCR)">National Capital Region (NCR)</option>
                        <option value="Cordillera Administrative Region (CAR)">Cordillera Administrative Region (CAR)</option>
                        <option value="Ilocos Region(I)">Ilocos Region(I)</option>
                        <option value="Cagayan Valley (II)">Cagayan Valley (II)</option>
                        <option value="Central Luzon (III)">Central Luzon (III)</option>
                        <option value="Calabarzon (IV-A)">Calabarzon (IV-A)</option>
                        <option value="Southwestern Tagalog Region (Mimaropa)">Southwestern Tagalog Region (Mimaropa)</option>
                        <option value="Bicol Region (V)">Bicol Region (V)</option>
                    </optgroup>
                    <optgroup label="Visayas">
                        <option value="Western Visayas (VI)">Western Visayas (VI)</option>
                        <option value="Central Visayas (VII)">Central Visayas (VII)</option>
                        <option value="Eastern Visayas (VIII)">Eastern Visayas (VIII)</option>
                    </optgroup>
                    <optgroup label="Mindanao">
                        <option value="Zamboanga Peninsula (IX)">Zamboanga Peninsula (IX)</option>
                        <option value="Northern Mindanao (X)">Northern Mindanao (X)</option>
                        <option value="Davao Region(XI)">Davao Region(XI)</option>
                        <option value="Soccsksargen (XII)">Soccsksargen (XII)</option>
                        <option value="Caraga (XIII)">Caraga (XIII)</option>
                        <option value="Bangsamoro (BARMM)">Bangsamoro (BARMM)</option>
                    </optgroup>
                </select>
                
                <select name="Status" id="Status" required>
                    <option value="Complete">Complete</option>
                    <option value="Queued">Queued</option>
                    <option value="NoShow">NoShow</option>
                    <option value="Cancel">Cancel</option>
                    <option value="Serving">Serving</option>
                    <option value="Skip">Skip</option>
                    <option value="Admitted">Admitted</option>
                </select>

                <input type="time" name="TimeQueued" id="TimeQueued" required>
                <input type="date" name="QueueDate" id="QueueDate" required>
                <input type="time" name="StartTime" id="StartTime" required>
                <input type="time" name="EndTime" id="EndTime" required>
                <select name="Type" id="Type" required>
                    <option value="Consultation">Consultation</option>
                    <option value="Inpatient">Inpatient</option>
                </select>
                
                <input type="checkbox" name="isVirtual" id="isVirtual" required>
            </div>

            <button class="cancel">Cancel</button>
            <button id="confirm_add">Confirm</button>
        </div>

        <div class="search_popup hide">
            <span>Searching Entry</span>
            <div class="table_header">
                <span >ID</span>
                <span >Doctor Specialty</span>
                <span >Hospital Name</span>
                <span >City</span>
                <span >Region</span>
                <span >Status</span>
                <span >Type</span>
                <span >Virtual</span>
            </div>
            
            <form action="/">
            <div class="popup_entry" id="search_entry">
                <input type="text" name="AppointmentID" id="AppointmentID">
                <input type="text" name="DoctorMainSpecialty" id="DoctorMainSpecialty">
                <input type="text" name="HospitalName" id="HospitalName">
                <input type="text" name="HospitalCity" id="HospitalCity">
                <select name="HospitalRegionName" id="HospitalRegionName">
                    <optgroup label="Luzon">
                        <option value="National Capital Region (NCR)">National Capital Region (NCR)</option>
                        <option value="Cordillera Administrative Region (CAR)">Cordillera Administrative Region (CAR)</option>
                        <option value="Ilocos Region(I)">Ilocos Region(I)</option>
                        <option value="Cagayan Valley (II)">Cagayan Valley (II)</option>
                        <option value="Central Luzon (III)">Central Luzon (III)</option>
                        <option value="Calabarzon (IV-A)">Calabarzon (IV-A)</option>
                        <option value="Southwestern Tagalog Region (Mimaropa)">Southwestern Tagalog Region (Mimaropa)</option>
                        <option value="Bicol Region (V)">Bicol Region (V)</option>
                    </optgroup>
                    <optgroup label="Visayas">
                        <option value="Western Visayas (VI)">Western Visayas (VI)</option>
                        <option value="Central Visayas (VII)">Central Visayas (VII)</option>
                        <option value="Eastern Visayas (VIII)">Eastern Visayas (VIII)</option>
                    </optgroup>
                    <optgroup label="Mindanao">
                        <option value="Zamboanga Peninsula (IX)">Zamboanga Peninsula (IX)</option>
                        <option value="Northern Mindanao (X)">Northern Mindanao (X)</option>
                        <option value="Davao Region(XI)">Davao Region(XI)</option>
                        <option value="Soccsksargen (XII)">Soccsksargen (XII)</option>
                        <option value="Caraga (XIII)">Caraga (XIII)</option>
                        <option value="Bangsamoro (BARMM)">Bangsamoro (BARMM)</option>
                    </optgroup>
                </select>
                
                <select name="Status" id="Status">
                    <option value="Complete">Complete</option>
                    <option value="Queued">Queued</option>
                    <option value="NoShow">NoShow</option>
                    <option value="Cancel">Cancel</option>
                    <option value="Serving">Serving</option>
                    <option value="Skip">Skip</option>
                    <option value="Admitted">Admitted</option>
                </select>

                <select name="Type" id="Type">
                    <option value="Consultation">Consultation</option>
                    <option value="Inpatient">Inpatient</option>
                </select>
                
                
                <select name="isVirtual" id="isVirtual">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>

                
            </div>

            <input type="submit" id="confirm_search" value="Search">
            </form>

            <button class="cancel">Cancel</button>
            
        </div>
    </div>
</body>
</html>