
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



body{
    margin: 0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    font-family: "Roboto", sans-serif;

    background-color: rgb(234, 234, 234);
}

nav{
    color: white;
    width: 100%;
    position: sticky;
    top: 0;
    min-width: 65rem;
    z-index: 1000;
}

.toolbar {
    display: flex;
    background-image: url(/images/doctor.png),linear-gradient(to bottom, #63BDDA, #5DB3D8);
    background-position: right 13rem top 1rem, 0;
    
    background-size: 10rem,100%;
    background-repeat: no-repeat;

    justify-content: space-between;
    padding: 2rem 3rem;
}

.material-icons.md-48 {
    font-size: 5rem;
    margin-right: 2rem;
}

.connection_status{
    width: .6rem;
    height: .6rem;
    border: white solid .15rem;
    border-radius: 100%;
    
}

.connection_status.connected{
    background-color: #4cea71;
    box-shadow: #83ffd2 0 0 1rem;
}

.connection_status.connected + span::after{
    content: "Connected"
}

.connection_status.reconnecting{
    background-color: #e2ea4c;
    box-shadow: #dcff83 0 0 1rem;
}

.connection_status.reconnecting + span::after{
    content: "Reconnecting"
}

.connection_status.disconnected{
    background-color: #ea4c57;
    box-shadow: #ff8383 0 0 1rem;
}

.connection_status.disconnected + span::after{
    content: "Disconnected"
}


.connection_status_div {
    display: flex;
    vertical-align: middle;
    align-items: center;
    gap: .2rem;
}

.table_header {
    display: flex;
    background-color: #63BDDA;

    padding: .5rem 5rem;

    font-weight: 500;
    color: white;
    border-radius: 0 0 1rem;
}

.table_header > div, .table_header > span {
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 6rem;
}


.button_container{
    display: flex;
    gap: 1rem;
    align-items: center;
    vertical-align: middle;
}

button{
    border-radius: 100%;
    border: none;
    width: 4rem;
    height: 4rem;
    background-color: #63BDDA;
    box-shadow: rgba(0, 0, 0, 0.4) 0 .4rem .4rem;
    transition: 100ms;
    cursor: pointer;
}

button:active{
    box-shadow: inset rgba(0, 0, 0, 0.4) 0 .4rem .6rem;
}

.edit #edit_button{
    box-shadow: inset rgba(0, 0, 0, 0.2) 0 .4rem .6rem, inset rgb(6, 201, 255) 0 .4rem 1rem;
}

.delete #delete_button{
    box-shadow: inset rgba(0, 0, 0, 0.2) 0 .4rem .6rem, inset rgb(255, 6, 48) 0 .4rem 1rem;
}

button > .material-icons {
    font-size: 2.5rem;
    transform: translateY(.2rem);
    color: white;
}

button > .material-icons{
    font-size: 2.5rem;
    transform: translateY(.2rem);
    color: white;
    transition: 100ms;
}

button:active > .material-icons, .delete #delete_button > .material-icons, .edit #edit_button > .material-icons  {
    scale: .95;
}

.table_contents{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 0 3rem 0 3rem;

}

.table_entry, .popup_entry{
    background-color: white;

    border-radius: .5rem;
    display: flex;
    padding: .5rem 2rem;

    min-width: 55rem;

    transition: box-shadow 100ms;
}

.delete .table_entry:hover{
    box-shadow: 0 0 1rem rgb(255, 6, 93);
    cursor: pointer;
}

.edit .table_entry:hover{
    box-shadow: 0 0 1rem rgb(6, 201, 255);
    cursor: pointer;
}

.table_entry > span, .popup_entry > *{
    min-width: 6rem;
    flex: 1;
}

.page_nav{
    display: flex;
    justify-content: center;
    
    gap: .2rem;
    margin: 1rem 0;
}

.page_nav input[type="text"]{
    height: 1.5rem;
    width: 3rem;
    font-size: 1rem;

    border: none;
    text-align: center;
    border-radius: .2rem;
    box-shadow: inset 0 0 .2rem rgba(0, 0, 0, 0.242);

}

.page_nav input[type="submit"]{
    background-color: #63BDDA;
    border: none;
    color: white;
    border-radius: .2rem;
    box-shadow: 0 0 .2rem rgba(0, 0, 0, 0.242);
}

.page_nav input[type="submit"]:active{
    box-shadow: inset 0 0 .2rem rgba(0, 0, 0, 0.242);
    scale: .99;
}

.page_nav input[type="submit"]:disabled{
    background-color: #b7d7e1;
    box-shadow: none;
    scale: 1;
}

.shadow {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.651);

    display: flex;
    justify-content: center;
    align-items: center;
}

.delete_popup, .edit_popup{
    background-color: rgb(234, 234, 234);
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 80%;

    border-radius: 1rem;
    padding: 1.5rem 1rem;
    overflow-x: scroll;
}

.delete_popup > span, .edit_popup > span {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-left: .5rem;
    text-wrap: nowrap;
}

.delete_popup > .table_header, .edit_popup > .table_header {
    border-radius: 1rem 1rem 0 0;
    padding: .5rem 2rem;
    min-width: 56rem;
}

.popup_entry {
    border-radius: 0 0 1rem 1rem;
    margin-bottom: 2rem;
    min-width: 56rem;
}

.shadow button {
    margin-top: 1rem;
    position: absolute;
    right: 10%;
    top: 54%;
    color: white;
    border-radius: .3rem;
    height: 2.3rem;
    width: 5rem;
    box-shadow:  none;
    font-size: 1rem;
}

.shadow .cancel {
    background-color: transparent;
    color: black;
    text-decoration: underline;
    right: calc(10% + 5.2rem);
    font-size: .8rem;
}

.shadow button:active {
    scale: 0.95;
}

.hide{
    display: none;
}